@font-face {
    font-family: foodFont;
    src: url("../fonts/hot-pizza.normal.ttf");
}
body {
    font-family: foodFont;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #F7F2B0;
}
.bkgImage {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 200px;
  left: 0;
  z-index: 0;
}
.none {
    float: left;
    font-size: 30px;
    font-size: 20px;
}
.right {
    float: none;
    display: inline;
}
.wingHolder {
    width: 100%;
    height: 100%;
    margin-top: 30px;
}
.wingHolder:hover {
    background: rgba(183,88,62,0.6)
}

.panel {
    padding: 0;
    text-align: center;
    background-color: #F7F2B0;
    border: solid #7C2A18 3px;
    margin-top: 20%;
    max-width: 260px;
}
.newFlavor {
    margin-bottom: 10px;
    text-align: center;
    color: black;
}
.btn {
    background: url("../images/ranch.PNG"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 17px;
    min-width: 153px;
    margin-top: 11px;
}
.content {
    background-color: rgba(183,88,62,1);
    z-index: 100;
}
.jumbotron {
    background: rgba(183,88,62,0.5);
    height: 200px;
    z-index: 100;
    color: #F7F2B0;
    text-shadow: 2px 2px 32px #000000;
}
.jumbotron p {
    text-align: right;
}
.panel-title {
    text-shadow: 2px 2px 4px white;
    color: black;
}
.rightSpacer {
    float: right;
}
.leftSpacer {
    float: left;
}